/* General */

body {
  background-color: #fbfbfb;
}

.vio-outline{
  color: #b5a7f8 !important;
  border-color: #b5a7f8 !important;
}
.vio-outline:hover{
  border-color: #b5a7f8 !important;
}


/* Navbar-Start */

.navbar-dark .nav-item .nav-link {
    color: #fff;
  }
  
  .navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
  }
  
  .fa-li {
    position: relative;
    left: 0;
  }

  .dropdown-item {
    color: #707071;
  }

  .form-control:focus {
    border-color: #b5a7f8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(180,165,247);
  }

  /* Navbar-End */
